$c1 : #03045e;
$c2 : #023e8a;
$c3 : #0077b6;
$c4 : #0096c7;
$c5 : #00b4d8;
$c6 : #48cae4;
$c7 : #90e0ef;
$c8 : #ade8f4;
$c9 : #caf0f8;

$primaryColor: #101211;
$secondaryColor: $c4;
$textColor: white;
