.ResultCardTotal{
    margin: 5px 10px;
    border-radius: 15px;
    padding : 3px 10px;
    .ResultCard{
        margin: 5px 10px;
        border-radius: 15px;
        background-color: rgb(57, 57, 57);
        padding : 3px 10px;
        color : white;
        cursor: pointer;
        .id, .areancity, .numEmployees, .manager{
            margin : 15px;
        }
        .id{
            color : black;
            background-color: white;
            padding : 5px 15px;
            border-radius: 15px;
        }
        .numEmployees{
            color : black;
            background-color: white;
            padding : 5px 15px;
            border-radius: 15px;
        }
    }
    .icons{
        margin : 5px 15px;
        cursor: pointer;
    }
}